.card {
  width: 390px;
  max-height: fit-content;
  text-align: center;
  margin: auto;
  -webkit-box-shadow: 11px 14px 23px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 14px 23px -10px rgba(0,0,0,0.75);
  box-shadow: 11px 14px 23px -10px rgba(0,0,0,0.75);


}

@media only screen and (max-width: 1100px) {
  .card {
    margin: auto;
  }
}
.comments {
  width: 100%;
  max-width: 360px;
}
.inline {
  display: inline;
}
.appbartitle {
  flex-grow: 1;
}
.starico {
  margin-top: -5px;
}

.marginbar {
  margin-bottom: 50px;
}
.vs{
  color: red;
  font-size: 18pt;
}
.exportSec{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  text-align: center;
}