.card {
  max-width: 385px;
  max-height: fit-content;
  text-align: center;
  margin: auto;
}

.comments {
  width: 100%;
  max-width: 360px;
}
.inline {
  display: inline;
}
.appbartitle {
  flex-grow: 1;
}
.starico {
  margin-top: -5px;
}

.marginbar {
  margin-bottom: 50px;
}
